.heading {
  text-align: center;
  margin-top: 1%;
}

.panels {
  margin-right: 1%;
}
.app-bar {
  background-color: #1ba1e2;
}
.graph {
  margin-left: 10%;
  height: 75%;
}

.orders {
  margin-top: 45%;
}

.sales {
  margin-top: 1%;

}

.content-recs {
  width: 100%;
}
.content {
  background-color: #e0e0e0;
  /*width: 83%;*/
}
.panel-content {
  /*padding-top: 1%;*/
  padding-left: 4%
  background-color: #e4e4e4;

}
.tile-wide {
  width: 48%;
  display:block;
}
