.heading {
  /*text-align: center;*/
  margin-top: 1%;
}

.panels {
  margin-right: 10%;
}
.app-bar {
  background-color: "#1ba1e2";
}
.graph {
  margin-left: 10%;
  height: 75%;
}

.orders {
  margin-top: 10%;
}

.panel-content {
  padding-top: 1%;
  margin-left: 1%;
  min-height: 50px;
  background-color: "#cdcdcd";

}
