<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="static/components/metro/build/css/metro.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="static/css/style.css" />
  </head>
  <body>
    <div class="app-bar">
      <a class="app-bar-element branding"> <b> LeanPharm </b> </a>
    </div>
          <h1 class="leader heading margin20">&nbsp;  Overview for <i>16 April 2016 - 23 April 2016 </i></h1>
          <hr />
      <div class="grid panels">
        <div class="row cells2">
          <div class = "cell">
            <div class="image-container graph">
              <img src="/static/img/line_example5.jpg" />
            </div>
          </div>

          <div class="cell">
            <div class="panel">
              <div class="heading">
                <span class="title">Top Sales & Trends</span>
              </div>
              <div style="background-color: #c7c7c7"class="content">
                <div class="panel-content" > STUFF </p>
                </div>
              </div>

            <div class="panel orders">
              <div class="heading">
                <span class="title">Recommended Orders</span>
              </div>
              <div style="background-color: #cdcdcd" class="content">
                <div class="panel-content">
                STUFF
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="static/components/metro/build/js/metro.min.js" charset="utf-8"></script>
		<script src="/static/components/underscore/underscore-min.js"></script>
  </body>
</html>
