<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="static/components/metro/build/css/metro.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="static/css/style.css" />
  </head>
  <body>
    <div class="app-bar" style="background-color: '#1ba1e2'">
      <a class="app-bar-element branding"> <b> LeanPharm </b> </a>
    </div>
          <h1 class="leader heading margin20">&nbsp;  <b> Overview for <i>16 April 2016 - 23 April 2016 </i> </b> <br>
</h1>

<div class="datpickers-to-from" style="margin-left: 40%">
<div class="input-control text" data-role="datepicker" data-preset="2016-04-17">
    <input id="date1" type="text">
    <button class="button"><span class="mif-calendar"></span></button>
</div>
  <b> TO </b>
<div class="input-control text" data-role="datepicker" data-preset="2016-04-24">
    <input id="date2" type="text">
    <button class="button"><span class="mif-calendar"></span></button>
</div>
</div>


          <hr />

      <div class="grid panels">
        <div class="row cells2">
          <div class = "cell">
            <div id="graph" class="image-container graph">
              {# <img src="/static/img/line_example5.jpg" />#}
            </div>
          </div>

          <div class="cell">
            <div class="panel sales">
              <div class="heading sales-header">
                <span style=class="title">Top Sales & Trends</span>
              </div>
              <div style="background-color: #e4e4e4" class="content">
                            <div class="tile-wide tile-wide-450 bg-cyan fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span id="highest-cost" class="icon mif-envelop">50</span>
                    <span id = "highest-product" class="tile-badge bg-darkRed"> Product Name </span>
                    <span class="tile-label">Top Selling</span>
                </div>
            </div>
                            <div class="tile-wide tile-wide-450 bg-cyan fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span id = "trending-highest" class="icon mif-envelop">61</span>
                    <span id="trending-highest-product" class="tile-badge bg-darkRed"> Product Name </span>
                    <span class="tile-label">Top Trending</span>
                </div>
            </div>
                            <div class="tile-wide tile-wide-450 bg-cyan fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span id = "lowest-cost" class="icon mif-envelop">11</span>
                    <span id="lowest-name" class="tile-badge bg-darkRed"> Product Name </span>
                    <span class="tile-label">Lowest Selling</span>
                </div>
            </div>
                            <div class="tile-wide tile-wide-450 bg-cyan fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span id = "lowest-trending-cost" class="icon mif-envelop">5</span>
                    <span id="lowest-trending-name" class="tile-badge bg-darkRed"> Product Name </span>
                    <span class="tile-label">Lowest Trending</span>
                </div>
            </div>
                </div>
              </div>

            <div class="panel orders">
              <div class="heading">
                <span class="title">Recommended Orders</span>
              </div>
              <div style="background-color: #e4e4e4" class="content content-recs">

                <div class="panel-content recs">
                  <table class="table sortable-markers-on-left ords">
    <thead>
        <tr>
            <th class="sortable-column">Product</th>
            <th class="sortable-column sort-asc">Quantity</th>
            <th class="sortable-column sort-desc">Total Unit Price</th>
        </tr>
        <tr>
            <th class="sortable-column">Column</th>
            <th class="sortable-column sort-asc">Column</th>
            <th class="sortable-column sort-desc">Column</th>
        </tr>
                <tr>
                    <th class="sortable-column">Column</th>
                    <th class="sortable-column sort-asc">Column</th>
                    <th class="sortable-column sort-desc">Column</th>
                </tr>



    </thead>
</table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="static/components/metro/build/js/metro.min.js" charset="utf-8"></script>
		<script src="/static/components/underscore/underscore-min.js"></script>
		<script src="/static/components/highcharts/highcharts.js"></script>
		<script src="/static/js/graph.js"></script>
		<script src="/static/js/app.js"></script>
  </body>
  <footer class="app-bar darcula fixed-bottom" style="text-align: center">
    Created by Danju & Friends for Pharmhack 2016
</footer>
</html>
